@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 25px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
  background: linear-gradient(rgba(0, 255, 255, 0.64), rgba(255, 68, 0, 0.564));
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.widget {
  border: 0.5px solid black;
  border-radius:15px;
  background-color: lightblue;
  width: 220px;
  height: fit-content;
  padding: 5px;
  margin: 10px;
  font-family: RobotoCondensed;
}

.page {
  width: 250px;
  height: 250px;
  background-color: lightsalmon;
  padding: 10px;
  border-radius: 20px;
  overflow: auto;
}

.dropped-widget {
  background-color: rgba(144, 238, 144, 0.627);
  width: 100%;
  height: fit-content;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  font-family: RobotoCondensed;
  border-radius: 20px;
  border: 0.5px solid black;
}

.widget-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}